#food {
    width: 1366px;
    height: 670px;
    background: url(../img/food_bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: none;
    opacity: 0.9;
}

#food .search img{
    position: absolute !important;
    top: 82px !important;
    left: 250px !important;
}

#food .search #food_text{
    width: 200px; 
    height: 25px;
    border-radius: 30px;
}

.caixi {
    position: relative;
    left: 30px;
    top: 50px;
    width: 300px;
    height: 500px;
    text-align: center;
}

li#food .search input[type=text] {
    position: relative;
    top: 10px;
    left: 80px;
}

li#food .search img {
    position: relative;
    top: 40px;
    left: 40px;
}

li#food .food {
    position: relative;
    left: 100px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: white;
    font-family: "楷体";
    font-size: 30px;
    cursor: pointer;
}

li#food .chuan,.yue,.su,.lu {
    display: none;
    text-align: center
}

li#food li{
    list-style: none;
    color: rgb(189, 183, 183);
    font-family: "楷体";
    font-size: 23px;
    cursor: pointer;
}

li#food .cai{
    width: 300px;
    height: 100px;
}

.next_page .con{
    width: 1000px;
    height: 500px;
    position: relative;
    top: -420px;
    right: -330px;
    font-family: "楷体";
    font-size: 22px;
    color:white;
    text-shadow: 5px 5px 5px black ;
}
.next_page span{
    font-size: 26px;
    font-family: "楷体";
    color: red;
    position: relative;
    top: -460px;
    left: 600px;
}
